- local_assigns[:localized_object] = localized_page.get_value(key, default_value) if !local_assigns[:localized_object]
- local_assigns[:property] = :value if !local_assigns[:property]

= render partial: 'inplace_editing/read/string', :locals => local_assigns